body {
    font-family: sans-serif;
}
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    font-size: 12px;
    visibility: hidden;
    text-align: center;
    padding: 5px 0;
    background-color: white;
    position: absolute;
    top: 10px;
    left: 105%;
    border: 1px solid darkgrey;
    padding: 5px;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#color-check-form {
    text-align: center;
}
#color-check-form > p {
    font-size: 20px;
}

#color-check-form > label {
    font-size: 10px;
}

#color-check-form > ul {
    padding: 0px;
}

#color-check-form > ul > li {
    display: inline-block;
}

input[type="submit"] {
    padding: 20px;
    cursor: pointer;
    border-radius: 0px;
}

input[type="submit"]:hover, input[type="submit"]:active{
    background-color: lightskyblue;
}
.pending_color {
    border-bottom: 1px solid black;
}

.color-square {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.color-pixel {
    float: left;
    border: 0px !important;
    cursor: pointer;
    height: 10px;
    width: 10px;
}

.color-pixel:hover {
    width: 12px;
    height: 12px;
    left: -2px;
}

.color-pixel.color-white:hover {
    border: 1px solid black;
}

.color-amaranth { background-color: #E52B50 }
.color-amber { background-color: #FFBF00 }
.color-amethyst { background-color: #9966CC }
.color-apricot { background-color: #FBCEB1 }
.color-aquamarine { background-color: #7FFFD4 }
.color-azure { background-color: #007FFF }
/*.color-baby { background-color: blue	#89CFF0 }*/
.color-beige { background-color: #F5F5DC }
.color-black { background-color: #000000 }
.color-blue { background-color: #0000FF }
.color-blue-green { background-color:	#0095B6 }
/*.color-blue { background-color: -violet	#8A2BE2 }*/
.color-blush { background-color: #DE5D83 }
.color-bronze { background-color: #CD7F32 }
.color-brown { background-color: #964B00 }
.color-burgundy { background-color: #800020 }
.color-byzantium { background-color: #702963 }
.color-carmine { background-color: #960018 }
.color-cerise { background-color: #DE3163 }
.color-cerulean { background-color: #007BA7 }
.color-champagne { background-color: #F7E7CE }
/*.color-chartreuse { background-color: green	#7FFF00 }*/
.color-chocolate { background-color: #7B3F00 }
/*.color-cobalt { background-color: blue	#0047AB }*/
.color-coffee { background-color: #6F4E37 }
.color-copper { background-color: #B87333 }
.color-coral { background-color: #F88379 }
.color-crimson { background-color: #DC143C }
.color-cyan { background-color: #00FFFF }
/*.color-desert { background-color: sand	#EDC9AF }*/
/*.color-electric { background-color: blue	#7DF9FF }*/
.color-emerald { background-color: #50C878 }
.color-erin { background-color: #00FF3F }
.color-gold { background-color: #FFD700 }
.color-gray { background-color: #808080 }
.color-green { background-color: #00FF00 }
.color-harlequin { background-color: #3FFF00 }
.color-indigo { background-color: #4B0082 }
.color-ivory { background-color: #FFFFF0 }
.color-jade { background-color: #00A86B }
/*.color-jungle { background-color: green	#29AB87 }*/
.color-lavender { background-color: #B57EDC }
.color-lemon { background-color: #FFF700 }
.color-lilac { background-color: #C8A2C8 }
.color-lime { background-color: #BFFF00 }
.color-magenta { background-color: #FF00FF }
/*.color-magenta { background-color: rose	#FF00AF }*/
.color-maroon { background-color: #800000 }
.color-mauve { background-color: #E0B0FF }
/*.color-navy { background-color: blue	#000080 }*/
.color-ocher { background-color: #CC7722 }
.color-olive { background-color: #808000 }
.color-orange { background-color: #FFA500 }
/*.color-orange { background-color: -red	#FF4500 }*/
.color-orchid { background-color: #DA70D6 }
.color-peach { background-color: #FFE5B4 }
.color-pear { background-color: #D1E231 }
.color-periwinkle { background-color: #CCCCFF }
/*.color-persian { background-color: blue	#1C39BB }*/
.color-pink { background-color: #FFC0CB }
.color-plum { background-color: #8E4585 }
/*.color-prussian { background-color: blue	#003153 }*/
.color-puce { background-color: #CC8899 }
.color-purple { background-color: #800080 }
.color-raspberry { background-color: #E30B5C }
.color-red { background-color: #FF0000 }
/*.color-red { background-color: -violet	#C71585 }*/
.color-rose { background-color: #FF007F }
.color-ruby { background-color: #E0115F }
.color-salmon { background-color: #FA8072 }
.color-sangria { background-color: #92000A }
.color-sapphire { background-color: #0F52BA }
.color-scarlet { background-color: #FF2400 }
.color-silver { background-color: #C0C0C0 }
/*.color-slate { background-color: gray	#708090 }*/
/*.color-spring { background-color: bud	#A7FC00 }*/
/*.color-spring { background-color: green	#00FF7F }*/
.color-tan { background-color: #D2B48C }
.color-taupe { background-color: #483C32 }
.color-teal { background-color: #008080 }
.color-turquoise { background-color: #40E0D0 }
.color-violet { background-color: #EE82EE }
.color-viridian { background-color: #40826D }
.color-white { background-color: #FFFFFF; border: 1px solid black; }
/*.color-yankees { background-color:	#1C2841 }*/
.color-yellow { background-color: #FFFF00 }

